<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= demoName %> - PhotonUI Demo</title>
  
  <link type="text/css" rel="stylesheet" href="./highlightjs/github.css" />
  <link type="text/css" rel="stylesheet" href="../dist/photonui-base.css" />
  <link type="text/css" rel="stylesheet" href="../dist/photonui-theme-particle.css" />
  <link type="text/css" rel="stylesheet" href="./style.css" />
  
</head>

<body>
  <header>
    <h1>PhotonUI Demo / <%= demoName %></h1>
  </header>
  
  <script src="./highlightjs/highlight.pack.js"></script>
  <script src="../dist/photonui.js"></script>
  
  <!-- Demo Script -->
  <div id="widget-area"></div>
  <div id="smiley" style="position: absolute; top: 160px; left: 40px; width: 100px; height: 100px; border: red solid 5px; border-radius: 55px; display: none;">
    <div style="border-bottom: inherit; margin: 10px; height: 70px; border-radius: 40px;">
      <div style="float: left; border: inherit; -webkit-transform: rotate(180deg); transform: rotate(180deg); width: 25px; height: 25px; border-radius: 20px; margin: 17px 5px;"></div>
      <div style="float: right; border: inherit; -webkit-transform: rotate(180deg); transform: rotate(180deg); width: 25px; height: 25px; border-radius: 20px; margin: 17px 5px;"></div>
    </div>
  </div>
  <script>
    function showSmiley() {
      document.getElementById("smiley").style.display = "inherit";
    }
    
    function hideWidgetArea() {
      document.getElementById("widget-area").style.display = "none";
    }
  </script>
  <script id="photonui-demo">
