html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    background-image: url(images/bg.png);
    height: 100%;
    overflow: hidden;
    font-family: sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

header {
    background-color: #eee;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, #fff 35px, #fff 70px);
    margin: 0;
    padding: 10px 15px;
    color: #444;
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff;
    border-bottom: #fff solid 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

header h1 {
    margin: 0;
    font-size: 22pt;
}

pre {
    position: absolute;
    right: 10px;
    max-width: 50%;
    max-height: calc(100% - 80px);
    overflow: auto;
    padding: 0 10px;
    background: rgba(255, 255, 255, .5);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    border-radius: 3px;
    font-size: 9pt;
    color: #333;
    outline: none;
    transition: all .2s;
}

pre:focus {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    background: rgba(255, 255, 255, .7);
}

#widget-area {
    position: absolute;
    top: 100px;
    left: 40px;
    border: #bbb solid 1px;
    background: #f1f1f1;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}
